@import '../../styles/base/variables';

.sc {
  text-align: center;
  padding: $global_padding_extern;
  margin-top: 3.5rem;

  &__title {
      color: $secondary;
  line-height: 2.5rem;
    &[data-size='sm']{
      font-size: $lg;
    }
    &[data-size='md'] {
      font-size: 2.5rem;
    }
    &[data-size='lg'] {
      font-size: $xxlg;
    }
  }


  &__subtitle {
    font-size: $md;
    font-weight: $semi_bold;
    line-height: 2.5rem;

  }
}
