@import '../../styles/base/variables';

.title {
  color: $secondary;
  line-height: 2.5rem;
  text-align: center;



  &[data-size='sm']{
    font-size: $lg;
  }
  &[data-size='md'] {
    font-size: 2.5rem;
  }
  &[data-size='lg'] {
    font-size: $xxlg;
  }

  &__subtitle {
    font-size: $md;
    font-weight: $semi_bold;
    line-height: 2rem;
  }
}
