@import "../../styles//base/mixins/positions";
@import "../../styles/base/variables";
@import "../../styles/base/mixins/animations";

@media screen and (max-width: 575px){
    img {
      width: 90%;
      margin: 0 0.4rem;
    }  
}


.container {
  width: 80vw;
  margin: $margin_default;

  @include flexContent(center);
  flex-direction: column;

  h2 {
  font-size: 2.3rem;
  margin: 2.5rem auto;
  }
}

.box_item {
  @include flexContent(center);
  flex-wrap: wrap;
}

.box_text {
  max-width: 14.3rem;
  width: 100%;
  padding: 1.5rem 1rem;
  margin: 0.8rem 1rem;
  
  background: #1f1f1f;
  border-radius: $radius;
  
  text-align: center; 

  h3 {
    padding: 0.5rem;
    margin-bottom: 2rem
  }

  p {
    padding-bottom: 0.5rem;
  }
}

.box_icon {
  margin-top: 2rem;

  @include flex(center);
  flex-direction: row;

  svg {
    color: var(--primary);
    font-size: 4rem;
    margin: 0 2rem;
  }
}

