@import "../../styles//base/mixins/positions";
@import "../../styles/base/variables";
@import "../../styles/base/mixins/animations";

.container {
  width: 80vw;
  padding: 1rem;
  margin: $margin_default;
}
