@import '../../styles/mixins/positions';
@import '../../styles/base/variables';
@import '../../styles/mixins/animations';

.container {
  @include flex(space-between);
  height: 8rem;
  width: 80vw;
  padding: 1rem;
  margin: $global_margin_default;
}

.logo {
  color: $primary;
  padding: 0.5rem;
  h1 {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 2px;
  }
}

.nav {
  @include flex(center);
}

.nav_menu {
  @include flex(space-between);
  list-style: none;
  font-size: 1.25rem;
}

.nav_item {
  padding: 0.5rem;
  @include transitionHover(color);

  &:hover {
    color: lighten($primary, 0.5);
    transform: scale(1.1);
    @include transitionHover(color);
  }
}
